<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NUHG.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>22E205DAF3BA26E7B55B66B8141F1BFD181526D9</string>
				<key>dateExpires</key>
				<string>2018-06-28</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>22E205DAF3BA26E7B55B66B8141F1BFD181526D9</string>
						<key>dateExpires</key>
						<string>2018-06-28</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAXBGFT8F4</string>
						<key>name</key>
						<string>Ernest Fan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BAXBGFT8F4.Ernest.NUHG</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BAXBGFT8F4</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>BAXBGFT8F4.Ernest.NUHG</string>
				</array>
			</dict>
			<key>name</key>
			<string>NUHG.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f09a72db-f226-45e4-af8b-1a5f0452cc3d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: Ernest.NUHG</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BAXBGFT8F4</string>
				<key>name</key>
				<string>Ernest Fan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
